.breadcrumbs {
  margin-top: 53px;
  margin-bottom: 43px;
  @media (max-width:1025px){
    overflow-x: scroll;
  }
  &__list {
    text-transform: lowercase;
    @media (max-width: 1025px){
      width: 1920px;
    }
  }  
  &__list-item {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 67px;
    font-size: 32px;
    position: relative;
    border-bottom: 2px solid transparent;
    &:first-child{
      text-transform: capitalize;
    }
    &:last-child{
      margin-right: 0;
    }
    &:hover {
      border-bottom: 2px solid #0F0F0F;
    }
    &:last-child:hover {
      border-bottom: 2px solid transparent;
    }
    @media (max-width:480px) {
      font-size: 24px;
      padding-right: 31px;
      margin-right: 9px;
    }
    @media (max-width:330px) {
      padding-right: 24px;
      margin-right: 5px;
    }
    &::after {
      position: absolute;
      content: "";
      right: -47px;
      bottom: 2px;
      background-image: url('../../assets/images/link-arrow.svg');
      width: 19px;
      height: 32px;
      @media (max-width:480px) {
        width: 12px;
        height: 19px;
        bottom: 4px;
        right: 0;
      }
    }
    &:last-child::after {
      display: none;
    }
  }
}