.subcategories {
  &__list{ 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: -40px;
    @media (max-width: 480px) {
      margin-bottom: 0;
    }
  }
  &__item {
    display: flex;
    align-items: center;
    font-size: 32px;
    background: #F4F4F4;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    height: 120px;
    width: 413px;
    margin-bottom: 40px;
    padding-left: 40px;
    padding-right: 55px;
    transition: all .3s;
    margin-right: 20px;
    position: relative;
    @media (max-width:480px) {
      margin-right: 0;
    }
    svg {
     position: absolute;
     right: 40px;
     @media (max-width:480px) {
       right: 30px;
     }
    } 
    &:hover{
      color:#fff;
      background: #2787F5;
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
      svg {
        fill:#fff;
      } 
    }
    &:active{
      box-shadow: inset 0px 5px 4px rgba(0, 0, 0, 0.1);
    }
    @media (max-width:480px) {
      width: 320px;
      height: 90px;
      font-size: 24px;
      padding-left: 30px;
      margin-bottom: 20px;
    }
    @media (max-width:330px) {
      width: 300px;
      height: 80px;
    }

  }
}