@import "../../scssVariables.scss";

.auth {
  border-radius: 20px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  margin: 40px auto 80px auto;
  max-width: 860px;

  @media screen and (max-width: 870px) {
    margin: 20px auto -100px auto;
  }

  @media screen and (max-width: 500px) {
    margin: 0px -20px -120px -20px;
    border-radius: 0px;
  }

  &>div {
    padding: 78px 110px 40px 110px;

    @media screen and (max-width: 750px) {
      padding: 78px 52px 40px 52px;
    }

    @media screen and (max-width: 600px) {
      padding: 38px 20px 40px 20px;
    }
  }

  & h2 {
    @extend %Rubik-Medium;
    text-align: center;
    font-size: 32px;
    line-height: 38px;
    color: #0f0f0f;
    margin-bottom: 42px;

    @media screen and (max-width: 500px) {
      font-size: 23px;
      line-height: 28px;
    }
  }

  & input {
    @extend %Rubik-Regular;
    width: 100%;
    background: #ffffff;
    border: 1px solid #6a6a6a;
    box-sizing: border-box;
    border-radius: 10px;
    outline: none;
    height: 45px;
    padding: 9px 23px;
    color: #6a6a6a;
    font-size: 20px;

    @media screen and (max-width: 500px) {
      height: 30px;
      padding: 8px 10px;
      border-radius: 10px;
    }
  }

  & a {
    @extend %Rubik-Regular;
    font-size: 20px;
    color: #2787f5;
  }

  &__btn-active {
    @extend %Rubik-Regular;
    font-size: 20px;
    line-height: 23px;
    padding: 11px 150px;
    background: #ffffff;
    border: 1px solid #0f0f0f;
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 10px;
    margin: 0px auto 42px auto;
    display: block;
    outline: none;
    transition: all 0.3s;

    @media screen and (max-width: 500px) {
      font-size: 16px;
      line-height: 19px;
      height: 40px;
    }

    @media screen and (max-width: 342px) {
      font-size: 14px;
    }

    &:hover {
      background: #2787f5;
      border: 1px solid #2787f5;
      color: #ffffff;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.12);
    }

    &:active {
      box-shadow: inset 0px 5px 4px rgba(0, 0, 0, 0.1);
    }
  }

  &__btn-inactive {
    @extend %Rubik-Regular;
    color: #797979;
    font-size: 20px;
    line-height: 23px;
    padding: 11px 150px;
    background: #ffffff;
    border: 1px solid #0f0f0f;
    box-sizing: border-box;
    border-radius: 10px;
    margin: 0px auto 42px auto;
    display: block;
    outline: none;
    text-decoration: line-through;

    @media screen and (max-width: 500px) {
      font-size: 16px;
      line-height: 19px;
      height: 40px;
    }

    @media screen and (max-width: 342px) {
      font-size: 14px;
    }
  }

  &__tel {
    margin-bottom: 42px;
  
    @media screen and (max-width: 500px) {
      padding-top: 31px;
    }
  
    & p {
      font-size: 24px;
      line-height: 28px;
      padding-bottom: 20px;
  
      @media screen and (max-width: 500px) {
        font-size: 16px;
        padding-bottom: 10px;
      }
    }
  }

  &__pasrec {
    text-align: center;
    max-width: 140px;
    margin: 0 auto;
    max-width: 430px
  }

  &__inputAuthCode {
    max-width: 421px;
    margin: 0px auto 42px auto;
    display: block;
    text-align: center;
    text-transform: uppercase;
  }
}
