.search {
  font-size: 20px;
  position: relative;

  *,
  *:before,
  *:after {
    box-sizing: content-box;
  }

  &__form {
    display: flex;
    margin-top: 210px;
    position: relative;
    max-width: 823px;
    height: 40px;
    border-radius: 10px 10px;
    border: 10px solid #0052b0;
    border-right-width: 21px;
    border-left-width: 16px;

    @media (max-width: 425px) {
      margin-top: 130px;
      height: 38px;
      border-radius: 6px 6px;
    }

    &::before {
      position: absolute;
      content: url("../../assets/images/master_hand.svg");
      top: -38px;
      left: -22px;
      z-index: 8;

      @media (max-width: 425px) {
        position: absolute;
        content: url("../../assets/images/hand_body.svg");
        top: -22px;
        left: -22px;
        z-index: 8;
      }
    }

    &::after {
      position: absolute;
      content: url("../../assets/images/master.svg");
      top: -160px;
      left: 10px;
      z-index: -1;

      @media (max-width: 425px) {
        position: absolute;
        content: url("../../assets/images/body.svg");
        top: -98px;
        left: -2px;
        z-index: -1;
      }
    }
  }

  &__input {
    position: relative;
    z-index: 7;
    padding-left: 45px;
    outline: none;
    border: none;
    width: 735px;

    @media (max-width: 425px) {
      font-size: 60%;
      padding-left: 19px;
    }

    &::placeholder {
      font-size: 20px;
      color: #6a6a6a;
      background: #fff;

      @media (max-width: 425px) {
        font-size: 12px;
        margin: 0 auto;
      }
    }
  }

  &__btn {
    font-size: 0;
    position: relative;
    z-index: 7;
    padding: 20px;
    background: url("../../assets/images/search.svg") no-repeat 50% 50%;

    @media (max-width: 425px) {
      background-size: 15px;
    }
  }

  &__bg {
    position: relative;
    background: #fff;
    border-radius: 10px;
    max-width: 840px;
    height: 43px;
    top: -51px;
    left: 7px;
    margin-right: 18px;
    z-index: 5;

    @media (max-width: 425px) {
      border-radius: 4px;
      height: 44px;
      margin-right: 14px;
    }
  }

  &__text {
    min-height: 46px;
    position: relative;
    top: -15px;
    max-width: 660px;
    margin-left: 200px;
    margin-bottom: 50px;

    @media (max-width: 425px) {
      margin-left: 0px;
      font-size: 12px;
      margin-bottom: 0px;
    }

    a {
      font-size: 20px;
      color: #269fe3;
      transition: all 0.2s;

      &:hover {
        text-decoration: underline;
      }

      @media (max-width: 425px) {
        font-size: 12px;
      }
    }
  }

  &__dropdown {
    position: absolute;
    top: 50px;
    left: 6px;
    width: 100%;
    background-color: white;
    z-index: 1000;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .15)
  }

  &__elementnone {
    padding: 10px 18px 15px 18px;
  }

  &__element {
    padding: 10px 18px 15px 18px;
    display: flex;
    justify-content: space-between;
    transition: all .3s;

    &:last-child {
      margin-bottom: 0px;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;

      &:hover {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
      }
    }

    &:hover {
      background:#2787F5;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
      color: #fff;
    }

    p {
      display: block;
    }

  }

}

.hide {
  display: none;
}