@import '../../scssVariables.scss';

.service-main {
  @media (max-width:580px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.service {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  padding: 60px 110px;

  h1 {
    @extend %Rubik-Medium;
    font-size: 32px;
    line-height: 38px;
    font-weight: 500;
    margin-top: -10px;
    margin-bottom: 40px;
  }

  @media (max-width:1150px) {
    padding: 50px 50px;
  }

  @media (max-width:580px) {
    width: 100vw;
    padding: 20px;
    border-radius: 0;
  }

  &__terms {
    display: flex;

    @media (max-width:880px) {
      display: block;
    }
  }

  &__text {
    font-size: 24px;
    max-width: 1080px;
    margin-bottom: 45px;

    @media (max-width:580px) {
      font-size: 16px;
    }
  }

  &__terms-column {
    display: flex;
    align-items: center;
    font-size: 16px;
    margin-bottom: 50px;

    svg {
      margin-right: 10px;

      @media (max-width:580px) {
        width: 35px;
        height: 40px;
      }
    }

    &:first-child {
      margin-right: 105px;

      @media (max-width:880px) {
        margin-bottom: 20px;
        margin-right: 0;
      }
    }
  }

  &__price {
    display: flex;
    font-size: 48px;
    font-family: 'Rubik-Regular', sans-serif;
    font-weight: 400;
    margin-bottom: 10px;

    p {
      font-family: 'Rubik-Medium', sans-serif;
      font-weight: 500;
    }

    @media (max-width:580px) {
      font-size: 32px;
    }
  }

  &__question {
    width: 190px;
    cursor: pointer;
    color: #6A6A6A;
    font-size: 16px;
    margin-bottom: 45px;
    transition: all .2s;

    &:hover {
      color: #000;
    }

    @media (max-width:880px) {
      margin-bottom: 25px;
    }
  }

  .button {
    @media (max-width:880px) {
      display: block;
      margin: 0 auto;
      margin-top: 20px;
    }

    @media (max-width:580px) {
      font-size: 16px;
      padding: 0 20px;
    }
  }
}