.service {
  &__inner {
   display: flex;
   justify-content: space-between;
  }
}

.list-service {
  width: 860px;
  background: #F4F4F4;
  border-radius: 20px;
  &__list {
   padding: 60px 28px 86px 29px;
  }

  &__title {
    margin-bottom: 55px;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    padding-left: 110px;
    margin-bottom: 55px;
    p {
      font-size: 20px;
    }
  }
}

.form-service {
  width: 400px;
}