/* start */
.start{
    background: #F4F4F4;
    padding-top: 40px;
    align-items: center;
    margin-bottom: 119px;
    width: 100vw;
}

.start > .container > span{
    color: #0F0F0F;
    font-size: 40px;
    margin-bottom: 40px;
    display: block;
}

.start__work{
    display: flex;
}

.work__left{
    width: 70%;
}

.work__left p{
    color: #0F0F0F;
    font-size: 24px;
    margin-bottom: 22px;
    word-wrap: break-word;
}

.left__download{
    margin-bottom: 36px;
    display: flex;
}

#one{
    display: block;
}

#two{
    display: none;
}

.left__download > svg{
    margin-right: 19px;
}

.left__img img{
    max-width: 100%;
    display: block;
}


.number__item{
    display: flex;
    margin-bottom: 40px;
    align-items: center;
}

.number__item:last-child{
    margin-bottom: 0;
}

.number__item span{
    display: block;
    font-size: 56px;
    margin-right: 43px;
}

.work__right{
    display: flex;
    align-items: center;
    padding-bottom: 120px;
}

.number__item p{
    font-size: 24px;
}

/* answer */
.answer{
    margin-bottom: 120px;
}
.answer > span{
    display: block;
    font-size: 40px;
    margin-bottom: 40px;
}

.answer__item-faq{
    background: #F4F4F4;
}

.answer__item-faq{
    background: #F4F4F4;
    width: 100vw;
}

.faq__item {
    position: relative;
    margin-bottom: 5px;
    padding-left: 88px;
}

.faq__title::before{
    position: absolute;
    content: "";
    background-image: url('../../assets/images/стрелочка.svg');
    top: 50%;
    transform: translateY(-50%);
    left: -55px;
    width: 18px;
    height: 30px;
    background-size: 18px 30px;
    transition: all .3s ease;
}

.faq__item hr{
    background: #6A6A6A;
    height: 1px;
    margin-top: 4px;
}

.faq__item label{
    font-size: 24px;
}

.faq__title {
    display: block;
    padding: 15px 0;
    position: relative;
    color: #000;
    cursor: pointer;
}

.faq__item span{
    display: block;
    height: 18px;
}

.faq-input {
    width: 0;
    height: 0;
    -webkit-appearance: none;
    appearance: none;
    position: absolute;
}



.faq-input:checked ~ .faq__title::before{
    top:8px;
   transform: rotate(90deg);
}

.faq-input:checked ~ .faq-text {
    display: block;
}

.faq-text {
    display: none;
    
    padding-top: 25px;
    padding-bottom: 10px;

    color: #000;
    font-size: 20px;
}

@media (max-width: 1024px){
    
    .works{
        flex-direction: column; 
        justify-content: space-between;   
    }
    .works__left{
        width: 100%;
    }
    .start__work{
        flex-direction: column;
    }
    .work__left{
        order: 1;
    }
    .work__right{
        padding-bottom: 45px;
    }
    .work__left{
        width: 100%;
    }
}

@media (max-width:838px){
    .speciality__works a{
        width: 380px;
    }
}

@media (max-width:425px){

    h1{
        margin-top: 40px;
        margin-bottom: 45px;
    }

    .left__content p {
        font-size: 16px;
    }

    .left__content span {
        margin-bottom: 20px;
        font-size: 32px;
    }

    .left__content button{
        margin-bottom: 25px;
    }
    
    .works{
        margin-bottom: 0;
    }

    .works__right img {
      margin-bottom: 60px;
    }

    .specialty span {
        display: block;
        font-size: 24px;
        margin-bottom: 40px;
    }

    .speciality__works a {
        font-size: 24px;
        width: 100%;
    }

    .speciality__works {
        margin-bottom: 20px;
    }

    .speciality__works .visible{
        display: none;
    }

    .speciality__works .show-more{
        font-size: 20px;
        color: #6A6A6A;
        margin-top: 20px;
        display: block;
    }


    .show-more:after{
        content: "";
        position: absolute;
        right: -15px;
        top: 50%;
        transform: translateY(-50%);
        width: 7px;
        height: 15px;
        background-image: url('../../assets/images/Vector1.svg');
        background-size: 7px 15px;  
    }
    .show-more__active:after{
        transform: rotate(-90deg);
        top: 20%;
    }

    .speciality__works .show-more:active  .speciality__works .visible{
        display: block;
    }
        
    .start{
        padding-top: 32px;
        margin-bottom: 56px;
    }

    .start > .container > span {
        font-size: 24px;
        margin-bottom: 20px;
    }

    .number__item p {
        font-size: 16px;
    }

    .number__item span {
        margin-right: 21px;
        font-size: 24px;
    }

    .number__item {
        margin-bottom: 20px;
    }

    .work__right {
        padding-bottom: 33px;
    }

    .work__left p {
        font-size: 16px;
    }

    #one{
        display: none;
    }
    
    #two{
        display: block;
    }

    .left__download {
        margin-bottom: 0;
    }

    .answer > span {
        margin-bottom: 24px;
        font-size: 24px;
    }

    .faq__item label {
        font-size: 16px;
    }

    .faq-text {
        font-size: 12px;
    }

    .answer {
        margin-bottom: 64px;
    }
}