.categories {
  &__inner {
   display: flex;
   flex-wrap: wrap;
  }
}
.list-service {
  flex-grow: 1;
  max-width: 860px;
  margin-right: 20px;
  background: #F4F4F4;
  border-radius: 20px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
  @media (max-width: 1024px) {
    width: 100%;
    margin-right: 0;
  }
  @media (max-width: 425px) {
    border-radius: 10px;
   }
  &__list {
   padding: 60px 0 86px 0;
   @media (max-width: 425px) {
    padding: 20px 0 30px;
   }
  }
  &__title {
    margin-bottom: 20px;
    margin-top: 40px;
    margin-left: 28px;
    @media (max-width: 425px) {
      margin-left: 15px;
      margin-top: 30px;
    }
    &:first-child {
      margin-top: 0;
    }
    
    @media (max-width: 425px) {
      font-size: 12px;
      margin-bottom: 15px;
    }
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    height: 80px;
    padding-right: 28px;
    transition:all .3s;
    @media (max-width: 425px) {
      padding-left: 15px;
      padding-right: 15px;
      height: 50px;
      font-size: 16px;
     }
     img {
      filter: invert(0.1);
      transition: all .3s;
     }
    &:hover {
      background:#2787F5;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
      color: #fff;
      svg {
        fill: #fff;
      }
      img{
        filter: invert(1);
      }
    }
    &:active {
     box-shadow: inset 0px 5px 4px rgba(0, 0, 0, 0.1);
    }
  }
  img {
    width: 40px;
    margin-left: 28px;
    margin-right: 40px;
    @media (max-width: 425px) {
      margin-right: 20px;
      margin-left: 0;
      width: 17px;
    }
  }
   img.list-service__ikea {
    width: 70px;
    margin-left: 6px;
    margin-right: 31px;
    @media (max-width: 425px) {
      margin-right: 18px;
      width: 30px;
      margin-left: -10px;
    }
  }
  &__left {
    display: flex;
    align-items: center;
  }
  &__name {
    font-size: 24px;
    @media (max-width: 425px) {
      font-size: 16px;
    }
  }
  &__num {
    text-transform: lowercase;
    span {
      margin-right: 10px;
      @media (max-width: 425px) {
        display: none;
      }
    }
  }
  svg {
    @media (max-width: 425px) {
      width: 9px;
      height: 15px;
    }
  }

}