.button {
  font-size: 24px;
  height: 43px;
  padding: 0 106px;
  color: #0F0F0F;
  outline: none;
  cursor: pointer;
  background: #FFFFFF;
  border: 1px solid #0F0F0F;
  box-sizing: border-box;
  border-radius: 10px;
  background: transparent;
  transition: all .3s;

  @media(max-width: 768px) {
    padding: 0 38px;
    font-size: 16px;
  }

  &:hover {
    border: none;
    background: #2787F5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.12);
    border-radius: 10px;
    color: #FFFFFF;

  }

  &:active {
    background: #2787F5;
    box-shadow: inset 0px 5px 4px rgba(0, 0, 0, 0.1);
  }
}

.button.button-blue {
  margin-right: 61px;
  background-color: #0052B0;
  color: #fff;
  border: none;

  &:hover {
    background: #0052B0;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.32);
  }

  &:active {
    background: #0052B0;
    box-shadow: inset 0px 5px 4px rgba(0, 0, 0, 0.1);
  }
}