// STYLES

.button {
  font-size: 24px;
  height: 43px;
  padding: 0 40px;
  color: #0F0F0F;
  outline: none;
  cursor: pointer;
  background: #FFFFFF;
  border: 1px solid #0F0F0F;
  box-sizing: border-box;
  border-radius: 10px;
  background: transparent;
  transition: all .3s;
  &:hover {
    border: none;
    background: #0052B0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.12);
    border-radius: 10px;
    color: #FFFFFF;
  }
  &:active {
    box-shadow: inset 0px 5px 4px rgba(0, 0, 0, 0.1);
  }
}
