%Rubik-Medium {
  font-family: 'Rubik-Medium', sans-serif;
  font-weight: 500;
}

%Rubik-Regular {
  font-family: 'Rubik-Regular', sans-serif;
  font-weight: 400;
}

%Rubik-Bold {
  font-family: 'Rubik-Bold', sans-serif;
  font-weight: 700;
}

$mainFontColor : #0F0F0F;
$mainColor : #0052B0;
$mainFontSize : 20px;