{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="icon" href="{% static 'icon.svg' %}" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Мастер на все руки</title>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'style.css' %}">
  </head>
  <body>

    <!-- Root -->
    <main id="root">{{ html|safe }}</main>

    <!-- Redux State -->
    <script>

    </script>
    
    <script src="{% static 'index_bundle.js' %}"></script>
  </body>
</html>