{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Мастер на все руки</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
  </head>
  <body>

    <!-- Root -->
    <main id="root">{{ html|safe }}</main>

    <!-- Redux State -->
    <script>

    </script>
    
    <script src="{% static 'index_bundle.js' %}"></script>
    <script
  src="https://code.jquery.com/jquery-3.5.1.min.js"
  integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
  crossorigin="anonymous"></script>
  </body>
</html>